html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 66px;
    position: sticky;
    background-color: white;
    top: 0;
}

nav{
    font-size: 14px;
    padding-top: 14px;
}
.logo{
    width: 32px;
    height: 32px;
}

.container{
    padding: 0vw 10vw;
}

nav ul li{
    list-style-type: none;
    padding-left: 12px;
    padding-top: 0px;
}

.section1{
    background-color: #f2f2f2;
    
}

.search-bar{
    width: 30vw;
    height: 2em;
    padding: 7px 17px;
    border: 0.5px solid white;
    background: #f2f2f2;
    border-radius: 3px;
}

.banner-1{
    width: 80vw;
    margin-top: 25px;
}

.banner-2{
    margin-top: 0px;
    width: 100vw;
}

.banner-3{
    height: min-content;
    margin-top: 0px;
    margin-left: 5px;
    width: 20vw;
    flex-wrap: wrap;
}
.banner-3{
    height: min-content;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    width: 20vw;
    flex-wrap: wrap;
}


