.flex{
    display: flex;
}

.flex2{
    display: flex;
}

.make-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight: bolder;
}
.space-between{
    justify-content: space-between;
}

.margin-12{
    margin-left: 12px;
    margin-right: 12px;
}

.black{
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.footer{
    margin: 12px 0px;
    padding: 23px;
    text-align: center;
    background-color: #f2f2f2;
    color: grey;
    font-weight: lighter;
}

.margin-18{
    margin-top: 18px;
}


@media (max-width: 700px){
    .flex2{
        display: inline-block;
    }
}